.horizontal-card-container {
    transform: scale(0.5);
    opacity: 0;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    width: 100%;
    max-width: 1900px;
    margin: auto;
  }
  
  .horizontal-card-container.in-view {
    transform: scale(1);
    opacity: 1;
  }
  
  .Image {
    width: 120%; 
    max-width: 1200px; 
    height: auto; 
    object-fit: cover; 
    max-height: 800px; 
  }
  
  p {
    font-size: 25px;
  }
  