.bodyPrincipal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carouselContainer {
  position: relative;
  width: 100%;
  height: auto; 
}

.carouselText {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  text-align: left;
  color: white;
  
  padding: 20px;
  border-radius: 10px;
  width: 80%;
}

.primerTitulo {
  font-size: 6.2rem;
}

.cloudText {
  color: blue; /* Set the text color of "Cloud" to blue */
}

.textoSecundario {
  font-size: 1.8rem;
}

.botonServiciosAzul, .botonServiciosTransparente {
  font-size: 2rem; /* Increase button font size */
  padding: 20px 40px; /* Increase button padding */
  cursor: pointer;
  margin: 20px; /* Add margin between buttons */
  border-radius: 10px; /* Add border radius to buttons */
}

.botonServiciosAzul {
  background-color: blue;
  color: white;
  border: none;
}

.botonServiciosAzul:hover {
  background-color: #0056b3;
}

.botonServiciosTransparente {
  background-color: transparent;
  border: 2px solid white;
  color: white;
}

.botonServiciosTransparente:hover {
  background-color: rgba(255, 255, 255, 0.1); /* Slight background color on hover */
}

.carouselTextFondo {
  background-color: rgba(0, 0, 0, 0.58);
  position: absolute;
  top: 0%;
  width: 100%;
  height: 990px;
  z-index: 6;
}

