/* ContactForm.css */

.contact-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f9f9f9;
  position: relative;
}

.contact-form {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.1)); /* Degradado blanco semitransparente */
  padding: 1.5rem; /* Reducir el espacio de relleno */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); /* Sombra más suave */
  width: 100%;
  max-width: 500px; /* Reducir el ancho máximo */
  position: relative;
  z-index: 2;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(0.5px);
  opacity: 0.8;
  z-index: 1;
}

.contact-form h2 {
  margin-bottom: 1rem;
  font-size: 1.8rem; /* Reducir el tamaño de la fuente */
  color: #333333; /* Texto oscuro */
  text-align: center;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5); /* Sombra de texto más suave */
}

.form-group {
  margin-bottom: 1.5rem; /* Aumentar ligeramente el espacio entre los grupos de formulario */
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
  color: #333333; /* Texto oscuro */
  font-size: 1.2rem; /* Tamaño de la fuente reducido */
}

.form-group input,
.form-group textarea {
  width: 96%;
  padding: 0.8rem; /* Reducir el espacio de relleno */
  border: none;
  border-radius: 6px; /* Bordes más suaves */
  background-color: rgba(255, 255, 255, 0.9); /* Fondo blanco semitransparente */
  font-size: 1.1rem; /* Tamaño de la fuente reducido */
}

.form-group input:focus,
.form-group textarea:focus {
  background-color: rgba(255, 255, 255, 0.7); /* Fondo blanco semitransparente al enfocar */
  outline: none;
}

button {
  display: block;
  width: 100%;
  padding: 0.8rem;
  border: none;
  border-radius: 6px;
  background-color: #4c586b; /* Fondo azul oscuro */
  color: #ffffff; /* Texto blanco */
  font-size: 1.1rem;
  cursor: pointer;
  margin-top: 1.5rem; /* Reducir el espacio superior */
  transition: background-color 0.3s ease; /* Transición suave */
}

button:hover {
  background-color: #32404f; /* Color de fondo más oscuro al pasar el mouse */
}

.contact-form .back-button {
  background-color: transparent;
  color: #333333; /* Texto oscuro */
  border: 2px solid #333333; /* Borde oscuro */
  padding: 0.8rem;
  cursor: pointer;
  font-size: 1.1rem;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease; /* Transición suave */
}

.contact-form .back-button:hover {
  background-color: #333333; /* Fondo oscuro */
  color: #ffffff; /* Texto blanco */
  border-color: #ffffff; /* Borde blanco */
}
