.cards-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Mostrar 2 tarjetas por fila */
    gap: 0; /* Quitar el espacio entre las tarjetas */
}

.card {
    overflow: hidden;
    position: relative;
    height: 500px; /* Altura fija para todas las tarjetas */
    margin: 0; /* Quitar el margen de las tarjetas */
    border: none; /* Quitar los bordes de las tarjetas */
}

.card-image-container {
    position: relative;
    overflow: hidden;
    height: 100%; /* Asegura que el contenedor de la imagen ocupe toda la altura de la tarjeta */
    margin: 0; /* Quitar el margen del contenedor de la imagen */
    border: none; /* Quitar los bordes del contenedor de la imagen */
}

.card-img {
    display: block;
    width: 100%;
    height: 100%; /* Asegura que la imagen ocupe toda la altura del contenedor */
    object-fit: cover;
    transition: transform 0.3s ease;
}

.card-title-overlay {
    font-size: 1.5rem;
    text-align: center;
    position: absolute;
    bottom: 10px; /* Espacio inferior del título */
    width: 100%;
    color: white; /* Color del texto del título */
    padding: 10px;
    box-sizing: border-box;
    z-index: 1;
    transition: bottom 0.3s ease, opacity 0.3s ease;
}

.card-overlay {
    position: absolute;
    bottom: -100%; /* Inicialmente oculto debajo de la imagen */
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Fondo del overlay transparente */
    color: white;
    padding: 20px;
    transition: bottom 0.3s ease, opacity 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.card-image-container:hover .card-overlay {
    bottom: 0; /* Mostrar el overlay al pasar el cursor */
    opacity: 1;
}

.card-image-container:hover .card-title-overlay {
    bottom: 100%; /* Mover el título junto con el overlay al pasar el cursor */
}

.card-text {
    text-align: center;
}

.card-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.card-description {
    font-size: 1rem;
    margin-bottom: 15px;
}

.btn {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-transform: uppercase;
    border-radius: 4px;
}

.btn:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {
    .cards-container {
        grid-template-columns: 1fr; /* Cambia a una columna en dispositivos móviles */
    }
}
