
.footer-top {
  padding-bottom: 20px;
  border-bottom: 1px solid #b1aaaa;
  
}

.footer-logo {
  max-width: 150px;
}

.footer-links a {
  color: #504b4be7;
  text-decoration: none;
  font-size: 14px;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-bottom {
  padding-top: 20px;
}

.footer-social img {
  width: 24px;
  height: 24px;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Esto asegura que el contenido ocupe al menos toda la altura de la ventana */
  margin: 0;
}

.App {
  flex: 1; /* Esto hace que el contenido ocupe todo el espacio disponible */
}

.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem;
  position: relative;
  bottom: 0; /* Asegura que el footer esté siempre al final */
  width: 100%;
}
